/** Overrides for jquery mobile v1.3.0;  **/
/* ui-controlgroup-controls 100% width for plot entry screen */
.ui-controlgroup-controls {
    width: 100% !important;
}
.ui-controlgroup-horizontal.ui-mini .ui-btn-inner {
    height: 1em;
    line-height: 1em;
}
.ui-select .ui-btn-icon-right .ui-btn-inner, .ui-select .ui-li-has-count .ui-btn-inner {
    padding-right: 2.81em;
}

/** The following overrides are specifically to handle small font bug on android chrome.*/
/* It may be possible to remove them in the future.**/
/* Taken from stackoverflow response by Rick Pfaus..... */
/* 16px > 1em */
 input.ui-input-text,
.ui-bar,
.ui-loader-verbose h1,
.ui-bar h1, .ui-bar h2, .ui-bar h3, .ui-bar h4, .ui-bar h5, .ui-bar h6,
.ui-header .ui-title, 
.ui-footer .ui-title,
.ui-btn-inner,
.ui-fullsize .ui-btn-inner,
.ui-fullsize .ui-btn-inner,
label.ui-submit,
.ui-collapsible-heading,
.ui-controlgroup-label,
.ui-controlgroup .ui-checkbox label, .ui-controlgroup .ui-radio label,
.ui-popup .ui-title,
label.ui-select,
label.ui-input-text,
textarea.ui-input-text,
.ui-li-heading,
label.ui-slider,
.ui-slider-switch .ui-slider-label {
    font-size: 1em;
}

/* 14px > 0.875em */
.ui-li-divider,
input.ui-mini, .ui-mini input, textarea.ui-mini, .ui-mini .ui-btn-inner,
input.ui-input-text.ui-slider-input,
.ui-slider-switch.ui-mini .ui-slider-label {
    font-size: 0.875em;
}

/* 12px > 0.75em */
.ui-header .ui-btn-inner, .ui-footer .ui-btn-inner, 
.ui-li-desc {
    font-size: 0.75em;
}

/* 11px > 0.65em */
.ui-li-has-count .ui-li-count {
    font-size: 0.65em;
}
@media only screen and (min-device-width: 600px) {
    /* increase font size on higher resolution */
    body {
        font-size: 22px;
    }
    /* increase icon size on higher resolution */
    /* TODO .. */
}

/******************************************/
/** CSS for entry page logo and image ****/
/*****************************************/
/*eliminate unformatted page flash due to require.js */
.OC-not-initialized { 
    display: none;
}
.OCBAF .ui-controlgroup-controls {
    width: auto !important;
}
.OCSelect {
    font-size: 1.1em;
    background-color: #2d2d2d;
    color: #ffffff;
    padding: .30em;
    margin: 0;
    text-align: center;
    appearance: button;
    -webkit-appearance: button;
    -moz-appearance: button;
}
.OCSelect:focus {
    background-color: rgb(95, 156, 197);
    color: #088A08;
}
.OCLogoDiv, .OCLoading {
    text-align:center;
    position: absolute;
    top: 20%;
    width: 100%;
    height: 30%;
}
.OCLogoDiv a {
    text-decoration: none;
}
.OCMovein{
    font-size: 3.00em;
    color:#005100;
    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
    -moz-animation: grow 0.75s 1 linear;
    -webkit-animation: grow 0.50s 1 linear;
    animation: grow 0.75s 1 linear;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.OCBiltmore {
    -moz-animation: spin 0.75s 1 linear;
    -webkit-animation: spin 0.50s 1 linear;
    animation: spin 0.75s 1 linear;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.OCBiltmoreInfinite {
    -moz-animation: spin 0.75s infinite linear;
    -webkit-animation: spin 0.50s infinite linear;
    animation: spin 0.75s infinite linear;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.OCButtonCorners {
    -webkit-border-radius: 1em !important;
    border-radius: 1em !important;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(-360deg);  }
}
@-moz-keyframes spin {
    0% { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(-360deg); }
}
@-o-keyframes spin {
    0% { -o-transform: rotate(0deg); }
    100% { -o-transform: rotate(-360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(-360deg); }
}
@-webkit-keyframes grow {
    0% { font-size: 0.25em; }
    100% {  font-size: 3em; }
}
@-moz-keyframes grow {
    0% { font-size: 0.25em; }
    100% {  font-size: 3em; }
}
@-o-keyframes grow {
    0% { font-size: 0.25em; }
    100% {  font-size: 3em; }
}
@keyframes grow {
    0% { font-size: 0.25em; }
    100% {  font-size: 3em; }
}