
a {
    color: #777;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: black;
  cursor: default;
  background-color: #fe9;
  border-bottom: 2px solid #f0e009;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}
.btn-primary, .pull right, .pull-left {
    background-color: #fe9;
}
.btn {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    font-size: 2rem;
    color: black;
    border: none;
}
.btn:focus {
    outline-color: rgb(229,151,0);
}
.navbar-offcanvas.in {
    box-shadow: 5px 5px 11px 0px rgba(0, 0, 0, 0.3);
}
.navbar-offcanvas {
    top: 50px;
    height: initial;
}
.list-group {
    text-align: center;
}
.form-control {
  display: block;
  /*width: 100%;*/
  /*height: initial;*/
  padding: 0.256rem 0.256rem;
  font-size: 2.0rem;
  line-height: 1.42857143;
  color: #222;
  background-color: #fff;
  border: .1rem solid #888;

}
.form-control:focus {
  border-color: #FF0000;
  outline: 0;
  outline-width: .5rem;
  -webkit-box-shadow: inset 0 .1rem .1rem rgba(0,0,0,.075), 0 0 .8rem rgba(102, 175, 233, .6);
          box-shadow: inset 0 .1rem .1rem rgba(0,0,0,.075), 0 0 .8rem rgba(102, 175, 233, .6);
}
.form-control-inline {
  display: inline;
  width: 100%;
  height: 100%;
  padding: 0.256rem 0.256rem;
  font-size: 2.0rem;
  line-height: 1.42857143;
  color: #222;
  background-color: #fff;
  border: .1rem solid #888;

}
.dropdown-menu {
    font-size: 2.0rem;
}
.navbar-nav > li > span > a {
  color: #777;
}
.container-fluid > .navbar-header {
    margin-left: 15px;
}
.nav > li > span > a {
  position: relative;
  display: block;
  padding: 5px 5px;
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  padding: 5px 5px;
  font-size: 2.0rem;
  line-height: 1.1;
  color: black;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: #bbbbbb;
}
.list-group-item > ul, .list-group-item > ol {
    text-align: left;
    background-color: #FFFFB3;
}
.modal-header {
    text-align: center;
    border-bottom: none;
}
.modal-footer {
    border-top: none;
}
.modal-content {
    background-color: #F0E009;
}
.tab-pane {
    overflow: hidden;
}
/*
.fade {
  opacity: 0;
  transition: none .15s linear;
}
.modal.in .modal-dialog {
  transform: translate(0, 0);
}*/
/*.modalOut {
  transition-duration: 300ms;
  transition-delay: 0ms;
  transition-timing-function: ease-in;
  transition-property: transform;
  transform: translateY(-130%);
  opacity: 1;
}*/
.list-group-item > a {
  color: #000;
}
.page-header {
    margin-top: 6rem;
    margin-bottom: 0rem;
    text-align: center;
    padding-bottom: 0rem;
    border-bottom-width: 0rem;
    /*background-color: green;
    position: fixed;*/
}
.page, .modal {
    font-size: 2.0rem;
}
.page , .hidden {
    visibility: hidden;
    opacity: 0;
    height: 0;
    overflow: auto;
    /*display: none;*/
    transition: opacity 1s ease-out
}
.page-footer {
    padding-top: 1rem;
    text-align: center;
}
.page-footer-fixed {
    padding-top: 1rem;
    text-align: center;
    position: fixed;
    left:0px;
    bottom:0px;
    height:30px;
}
/******************************************/
/** CSS for entry page logo and image ****/
/*****************************************/
/*eliminate unformatted page flash due to require.js */
.OC-not-initialized {
    display: none;
}
.OCCenter {
    text-align: center;
}
.OCMultiProductBtn {
    /*background: #333333 !important;
    border-color: #222222 !important;*/
}
.OCBtnSmall {
    margin-left: 0.1em !important;
	margin-top: 0.1em !important;
	padding-left: 1.5em !important;
}
.OCBtnTop {
    margin-left: 0.1em !important;
	margin-top: 0.1em !important;
}
.OCNoMargin {
    margin-top: 0;
    margin-bottom: 0;
}
.OCBAF .ui-controlgroup-controls {
    width: auto !important;
}
.OCSelect {
    font-size: 1.1em;
    background-color: #2d2d2d;
    color: #ffffff;
    padding: .30em;
    margin: 0;
    text-align: center;
    appearance: button;
    -webkit-appearance: button;
    -moz-appearance: button;
}
.OCSelect:focus {
    background-color: rgb(95, 156, 197);
    color: #088A08;
}
.OCMovein{
    font-size: 3.00em;
    color:#005100;
    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
    /*-moz-animation: grow 0.75s 1 linear;
    -webkit-animation: grow 0.50s 1 linear;
    animation: grow 0.75s 1 linear;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;*/
}
.OCBiltmore {
 /* -moz-animation: spin 0.75s 1 linear;
    -webkit-animation: spin 0.50s 1 linear;
    animation: spin 0.75s 1 linear;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;*/
}
.OCBiltmoreInfinite {
    -moz-animation: spin 0.75s infinite linear;
    -webkit-animation: spin 0.50s infinite linear;
    animation: spin 0.75s infinite linear;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.OCButtonCorners {
    -webkit-border-radius: 1em !important;
    border-radius: 1em !important;
}
.OCPadSides {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.OCMicrophone {
    color: #088A08;
}
.gridContainerBAF {
    display: grid;
    justify-content: center;
    grid-auto-flow: column;
}
.gridContainer7 {
    display: grid;
    grid-template-columns: 1.3fr 0.7fr 1.3fr 0.7fr 1.3fr 0.7fr 1.3fr 0.7fr 1.3fr 0.7fr 1.3fr 0.7fr 1.3fr 0.7fr;
    /*grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto;*/
    justify-content: stretch;
    grid-template-rows: auto;
    justify-items: center;
}
.gridContainer5 {
    display: grid;
    justify-content: stretch;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
}
.gridContainer4 {
    display: grid;
    justify-content: stretch;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
}
.gridContainer {
    display: grid;
    justify-content: stretch;
    /*grid-template-columns: 1fr 1fr 1fr 1fr;*/
    grid-template-rows: auto;
    grid-auto-columns: 1.2fr 0.8fr;
    grid-auto-flow: column;
    justify-items: center;
}
.gridContainer3 {
    display: grid;
    justify-content: stretch;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
    padding-left: 15px;
    padding-right: 15px;
}
.gridContainer3Equal {
    display: grid;
    justify-content: stretch;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
}
.gridContainer2 {
    display: grid;
    justify-content: stretch;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
}
.gridContainer-split {
    grid-template-columns: auto auto .1fr;
}
.gridItem {
    align-self: center;
    text-align:center;
    max-width: 50vw;
}
.gridItemLeft {
    justify-self: start;
    max-width: 40vw;
}
.gridInputItem {
    max-width: 20vw;
    align-self: center;
    text-align: center;
}
.gridItemRight {
    justify-self: end;
    margin-right: 15px;
    text-align: end;
    align-self: center;
}
.radioCenter {
    line-height: 3.6rem;
}
.content-main {
    background-color: #FFF;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 15px 15px 15px 15px;
}
.visible {
    opacity: 1;
    height: 100vh;
    visibility: visible;
    /*display: inherit;*/
}
.smallScreenHide {
        display: none;
}
.flexContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width:100%;
    height:80%;
}
.noWrap {
    flex-wrap: nowrap;
    white-space: nowrap;
}
.flexItem  {
    margin: auto;
    text-align: center;
}
.flexItemRight {
    margin: auto;
    margin-right: 0;
}
.flexItemLeft {
    margin: auto;
    margin-left: 0;
}
.btn-text {
    display: inline;
}
.btn-first {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.btn-middle {
    border-radius: 0;
}
.btn-last {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.rowGroup1 {
    background-color: #F0E009;
}
.rowGroup2 {
    background-color: #FFFFB3;
}
.noMargin {
    margin-bottom: 0rem;
}
.noLMargin {
    margin-left: 0rem;
}
.noRMargin {
    margin-right: 0rem;
}
.padTop {
    padding-top: 0.8rem;
}
.marginTop {
    margin-top: 0.8rem;
}
.padBottom {
    padding-bottom: 0.8rem;
}
body, html {
    height: 100%;
    background-color: #F0E009;
}
body {
  font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
  /*font-size: 2.0rem;*/
  line-height: 1.42857143;
 /* color: #333;*/
  color: #000000;
}
legend {
  display: block;
  width: 100%;
  padding: 0;
  font-size: 2.0rem;
  font-weight: bold;
  line-height: inherit;
  color: #000;
  border: 0;
  border-bottom-width: 0rem;
}
input[type="checkbox"] {
    height: 2.4rem;
    width: 2.4rem;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(-360deg);  }
}
@-moz-keyframes spin {
    0% { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(-360deg); }
}
@-o-keyframes spin {
    0% { -o-transform: rotate(0deg); }
    100% { -o-transform: rotate(-360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(-360deg); }
}
@-webkit-keyframes grow {
    0% { font-size: 0.25em; }
    100% {  font-size: 3em; }
}
@-moz-keyframes grow {
    0% { font-size: 0.25em; }
    100% {  font-size: 3em; }
}
@-o-keyframes grow {
    0% { font-size: 0.25em; }
    100% {  font-size: 3em; }
}
@keyframes grow {
    0% { font-size: 0.25em; }
    100% {  font-size: 3em; }
}


