$opencruise-app-border: #ffdd33;
$opencruise-app-primary: #f0e009;
$opencruise-app-background: $opencruise-app-primary;
$opencruise-text-color: black;
$opencruise-toolbar-background: #eee;
$opencruise-radio-active: #009100;
$opencruise-switch-container: rgba(0, 0, 0, 0.38);;
$opencruise-radio-inactive: #ffee80;
$opencruise-base-font-size: 10px;
$opencruise-font-size: 2.0rem;
$opencruise-accent: #fe9;
$opencruise-label: #3f51b5;
$opencruise-line-height: 1.42857143;
$opencruise-font-family: 'Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif !important';